.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__container{
    width: 70%; 
    margin-top: 20px;  
}
.content__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}
.content__header__list{
    color:#787d92;
    font-size: 23px;
    font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
}

.content__list{
    background: #2E3241;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 0;
    margin-top: 20px;

}
.content__list__item{
    color: white;
    font-weight: bold;
    font-size: 23px;
       display: flex;
       justify-content: center;
       align-items: center;
}
.d{
    width: 35%;
}
.b,.c,.e,.f{
    width:10%;
}
.a{
    width: 5%;
}
.content__loading{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}